doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Company-HTML Bootstrap theme
  // Bootstrap
  link(href='css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/animate.css')
  link(href='css/prettyPhoto.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: Company
    Theme URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
    =======================================================
header
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .navigation
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.navbar-collapse.collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
            a(href='index.html')
              h1
                span Com
                | pany
        .navbar-collapse.collapse
          .menu
            ul.nav.nav-tabs(role='tablist')
              li(role='presentation')
                a.active(href='/') Home
              li(role='presentation')
                a(href='about') About Us
              li(role='presentation')
                a(href='contact') Contact
section#main-slider.no-margin
  .carousel.slide
    .carousel-inner
      .item.active(style='background-image: url(images/slider/bg1.jpg)')
        .container
          .row.slide-margin
            .col-sm-6
              .carousel-content
                h2.animation.animated-item-1
                  | Welcome 
                  span Company
                p.animation.animated-item-2 Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...
                a.btn-slide.animation.animated-item-3(href='#') Read More
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                img.img-responsive(src='images/slider/img3.png')
      // /.item
    // /.carousel-inner
  // /.carousel
// /#main-slider
.feature
  .container
    .text-center
      .col-md-3
        .hi-icon-wrap.hi-icon-effect.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='300ms')
          i.fa.fa-book
          h2 Full Responsive
          p Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
      .col-md-3
        .hi-icon-wrap.hi-icon-effect.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='600ms')
          i.fa.fa-laptop
          h2 Retina Ready
          p Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
      .col-md-3
        .hi-icon-wrap.hi-icon-effect.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='900ms')
          i.fa.fa-heart-o
          h2 Full Responsive
          p Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
      .col-md-3
        .hi-icon-wrap.hi-icon-effect.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='1200ms')
          i.fa.fa-cloud
          h2 Friendly Code
          p Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.
.about
  .container
    .col-md-6.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='300ms')
      h2 about us
      img.img-responsive(src='images/6.jpg')
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
        | pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
    .col-md-6.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='600ms')
      h2 Template built with Twitter Bootstrap
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
        | pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        | libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        | libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
.lates
  .container
    .text-center
      h2 Lates News
    .col-md-4.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='300ms')
      img.img-responsive(src='images/4.jpg')
      h3 Template built with Twitter Bootstrap
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
        | pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
    .col-md-4.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='600ms')
      img.img-responsive(src='images/4.jpg')
      h3 Template built with Twitter Bootstrap
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
        | pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
    .col-md-4.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='900ms')
      img.img-responsive(src='images/4.jpg')
      h3 Template built with Twitter Bootstrap
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
        | pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
section#partner
  .container
    .center.wow.fadeInDown
      h2 Our Partners
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
        br
        |  et dolore magna aliqua. Ut enim ad minim veniam
    .partners
      ul
        li
          a(href='#')
            img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='300ms' src='images/partners/partner1.png')
        li
          a(href='#')
            img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='600ms' src='images/partners/partner2.png')
        li
          a(href='#')
            img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='900ms' src='images/partners/partner3.png')
        li
          a(href='#')
            img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='1200ms' src='images/partners/partner4.png')
        li
          a(href='#')
            img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='1500ms' src='images/partners/partner5.png')
  // /.container
// /#partner
section#conatcat-info
  .container
    .row
      .col-sm-8
        .media.contact-info.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='600ms')
          .pull-left
            i.fa.fa-phone
          .media-body
            h2 Have a question or need a custom quote?
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80
  // /.container
// /#conatcat-info
footer
  .footer
    .container
      .social-icon
        .col-md-4
          ul.social-network
            li
              a.fb.tool-tip(href='#' title='Facebook')
                i.fa.fa-facebook
            li
              a.twitter.tool-tip(href='#' title='Twitter')
                i.fa.fa-twitter
            li
              a.gplus.tool-tip(href='#' title='Google Plus')
                i.fa.fa-google-plus
            li
              a.linkedin.tool-tip(href='#' title='Linkedin')
                i.fa.fa-linkedin
            li
              a.ytube.tool-tip(href='#' title='You Tube')
                i.fa.fa-youtube-play
      .col-md-4.col-md-offset-4
        .copyright
          | &copy; Company Theme. All Rights Reserved.
          .credits
            //
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Company
            | Designed by 
            a(href='https://bootstrapmade.com/') BootstrapMade
    .pull-right
      a.scrollup(href='#home')
        i.fa.fa-angle-up.fa-3x
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='js/jquery.min.js')
script(src='js/jquery-migrate.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src='js/bootstrap.min.js')
script(src='js/jquery.prettyPhoto.js')
script(src='js/jquery.isotope.min.js')
script(src='js/wow.min.js')
script(src='js/functions.js')

