doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='')
  title Сайт на Express
  
  link(href='css/bootstrap.min.css' rel='stylesheet')
  
  link(href='css/small-business.css' rel='stylesheet')
  
  link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css')
  
// Navigation
nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='') Javascript 44 Group
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Главная
        li
          a(href='/about') О нас
        li
          a(href='/contact') Контакты
    
header.intro-header(style="background-image: url('img/caralog10.jpg')")
  .container.overlay
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          h1 First Express Site
          hr.small
          span.subheading
            | Рождён в ночных муках
            br
            | by 
            a(href='') VIP
 
hr
// Footer
footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        ul.list-inline.text-center
          li
            a(href='')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-github.fa-stack-1x.fa-inverse
          li
            a(href='')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li
            a(href='')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li
            a(href='')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-google-plus.fa-stack-1x.fa-inverse
          li
            a(href='mailto:csat.vip@gmail.com')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-envelope.fa-stack-1x.fa-inverse
          li
            a(href='')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-male.fa-stack-1x.fa-inverse
        p.copyright.text-muted
          | &copy; 2019 
          a(href='https://imt.academy') IMT
          |                         We 
          i.fa.fa-heart
          a(href='') Code Design

script(src='js/jquery.js')

script(src='js/bootstrap.min.js')

script(src='js/small-business.min.js')

script(src='js/SmoothScroll.js')

